<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>analisis</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="nav_bar">
        <ul class="nav_nav">
            <li><a href="/menu_lab"  >Home</a></li>      
            <li><a href="/analisis_lab" >Analisis</a></li>    
            <li><a href="/" class="nav_exit">Salir</a></li>    
        </ul>
    </div>
    
    <h1 class="page_title">Resultados</h1>

    <div class="nav_exam">
        <ul >
            <li><a href="/hematologia"  >Hematologia</a></li>    
            <li><a href="/heces" >Heces</a></li>    
            <li><a href="/orina" >Orina</a></li>     
        </ul>
    </div>





    <div class="item_titles">
        <ul >
            <li>Examen </li>    
            <li>Resultado </li>    
            <li>Unidades </li>    
            <li>Inferior </li>    
            <li>Superior </li>    
            <li>Significativo </li>    
            <li>Clinico </li>    
            <li>Comentario </li>    
        </ul>
    </div>


    <div class="item_selection">
        <ul >
            <li>Globulos Rojos </li> 
            <li><input type="number"> </li>    
            <li>
                <select class="select_units" >
                <option value="t1">millones/L</option>
                <option value="t2">gl/dL</option>                   
                </select> 
            </li>    

            <li><input type="number" > </li>    
            <li><input type="number" > </li>    
            <li><input type="checkbox" class="select_check">  </li> 
            <li><input type="checkbox" class="select_check"> </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 
        </ul> 
    </div>

    
    <div class="item_selection">
        <ul >
            <li>Hemoglobina </li>    
            <li><input type="number"> </li>    
            <li>
                <select class="select_units" >
                <option value="t1">millones/L</option>
                <option value="t2">gl/dL</option>                   
                 </select> 
            </li>    

            <li><input type="number" > </li>    
            <li><input type="number" > </li>    
            <li><input type="checkbox" class="select_check">  </li> 
            <li><input type="checkbox" class="select_check"> </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>


    <div class="item_selection">
        <ul >
            <li>Hematocrito </li>    
            <li><input type="number"> </li>    
            <li>
                <select class="select_units" >
                <option value="t1">millones/L</option>
                <option value="t2">gl/dL</option>                   
                 </select> 
            </li>    

            <li><input type="number" > </li>    
            <li><input type="number" > </li>    
            <li><input type="checkbox" class="select_check">  </li> 
            <li><input type="checkbox" class="select_check"> </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>



    <div class="item_selection">
        <ul >
            <li>Recuento Globulos Blancos </li>    
            <li><input type="number"> </li>    
            <li>
                <select class="select_units" >
                <option value="t1">millones/L</option>
                <option value="t2">gl/dL</option>                   
                 </select> 
            </li>    

            <li><input type="number" > </li>    
            <li><input type="number" > </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>


    <div class="item_selection">
        <ul >
            <li>Formula Diferencial </li>    
            <li><input type="number"> </li>    
            <li>
                <select class="select_units" >
                <option value="t1">millones/L</option>
                <option value="t2">gl/dL</option>                   
                 </select> 
            </li>    

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>


    <div class="item_selection">
        <ul >
            <li>Eosinofilos </li>    
            <li><input type="number"> </li>    
            <li>
                <select class="select_units" >
                <option value="t1">millones/L</option>
                <option value="t2">gl/dL</option>                   
                 </select> 
            </li>    

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>

    <div class="item_selection">
        <ul >
            <li>Neutrofilos </li>    
            <li><input type="number"> </li>    
            <li>
                <select class="select_units" >
                <option value="t1">millones/L</option>
                <option value="t2">gl/dL</option>                   
                 </select> 
            </li>    

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>



    <div class="item_selection">
        <ul >
            <li>Linfocitos </li>    
            <li><input type="number"> </li>    
            <li>
                <select class="select_units" >
                <option value="t1">millones/L</option>
                <option value="t2">gl/dL</option>                   
                 </select> 
            </li>    

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>


    <div class="item_selection">
        <ul >
            <li>Monocitos </li>    
            <li><input type="number"> </li>    
            <li>
                <select class="select_units" >
                <option value="t1">millones/L</option>
                <option value="t2">gl/dL</option>                   
                 </select> 
            </li>    

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>


    <div class="item_selection">
        <ul >
            <li>Recuento de Plaquetas </li>    
            <li><input type="number"> </li>    
            <li>
                <select class="select_units" >
                <option value="t1">millones/L</option>
                <option value="t2">gl/dL</option>                   
                 </select> 
            </li>    

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>


    <div class="item_selection">
        <ul >
            <li>Velocidad de Sedimentacion </li>    
            <li><input type="number"> </li>    
            <li>
                <select class="select_units" >
                <option value="t1">millones/L</option>
                <option value="t2">gl/dL</option>                   
                 </select> 
            </li>    

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>



    <div class="item_selection">
        <ul >
            <li>Observaciones </li>    
            <li><input type="number"> </li>    
            <li>
                <select class="select_units" >
                <option value="t1">millones/L</option>
                <option value="t2">gl/dL</option>                   
                 </select> 
            </li>    

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>
    
    <script src="./../js/app.js"></script> 


</body>
</html>