<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>analisis</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="nav_bar">
        <ul class="nav_nav">
            <li><a href="/menu"  >Home</a></li>    
            <li><a href="/analisis" >Analisis</a></li>    
            <li><a href="/" class="nav_exit">Salir</a></li>    
        </ul>
    </div>
    
    <h1 class="page_title">Resultados</h1>

    <div class="nav_exam">
        <ul >
            <li><a href="/hematologia"  >Hematologia</a></li>    
            <li><a href="/heces" >Heces</a></li>    
            <li><a href="/orina" >Orina</a></li>     
        </ul>
    </div>



    <div class="item_titles">
        <ul >
            <li>Examen </li>    
            <li>Resultado </li>    
            <li>Unidades </li>    
            <li>Inferior </li>    
            <li>Superior </li>    
            <li>Significativo </li>    
            <li>Clinico </li>    
            <li>Comentario </li>    
        </ul>
    </div>


    <div class="item_selection">
        <ul >
            <li>Color </li> 
            <li><input type="text"> </li>    
            <li>
                <select class="select_units" >                  
                </select> 
            </li>    

            <li><input type="number" > </li>    
            <li><input type="number" > </li>    
            <li><input type="checkbox" class="select_check">  </li> 
            <li><input type="checkbox" class="select_check"> </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 
        </ul> 
    </div>

    
    <div class="item_selection">
        <ul >
            <li>Aspecto </li>    
            <li><input type="text"> </li>    
            <li>
                
            </li>    

            <li><input type="number" > </li>    
            <li><input type="number" > </li>    
            <li><input type="checkbox" class="select_check">  </li> 
            <li><input type="checkbox" class="select_check"> </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>


    <div class="item_selection">
        <ul >
            <li>Olor </li>    
            <li><input type="text"> </li>    
            <li>

            </li>    

            <li><input type="number" > </li>    
            <li><input type="number" > </li>    
            <li><input type="checkbox" class="select_check">  </li> 
            <li><input type="checkbox" class="select_check"> </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>



    <div class="item_selection">
        <ul >
            <li>Reaccion pH </li>    
            <li><input type="number"> </li>    
            <li>

            </li>    

            <li><input type="number" > </li>    
            <li><input type="number" > </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>


    <div class="item_selection">
        <ul >
            <li>Densidad especifica </li>    
            <li><input type="number"> </li>    
            <li>
              
            </li>    

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>


    <div class="item_selection">
        <ul >
            <li>Examen quimico </li>    
            <li><input type=""> </li>    
            <li>
   
            </li>    

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>

    <div class="item_selection">
        <ul >
            <li>Acetona </li>    
            <li>
                <select class="select_units" >
                <option value="t1">Positivo</option>
                <option value="t2">Negativo</option>                   
                </select> 
            </li> 

        <li><input type="text"> </li> 

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>



    <div class="item_selection">
        <ul >
            <li>Proteinas </li>    
            <li>
                <select class="select_units" >
                <option value="t1">Positivo</option>
                <option value="t2">Negativo</option>                   
                </select> 
            </li> 

        <li><input type="text"> </li> 
            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>


    <div class="item_selection">
        <ul >
            <li>Bilirrubina</li>    
            <li>
                <select class="select_units" >
                <option value="t1">Positivo</option>
                <option value="t2">Negativo</option>                   
                </select> 
            </li> 

        <li><input type="text"> </li>   

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>


    <div class="item_selection">
        <ul >
            <li>Glucosa </li>    
            <li>
                <select class="select_units" >
                <option value="t1">Positivo</option>
                <option value="t2">Negativo</option>                   
                </select> 
            </li> 

        <li><input type="text"> </li>   

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>


    <div class="item_selection">
        <ul >
            <li>Hemoglobina</li>      
                <li>
                    <select class="select_units" >
                    <option value="t1">Positivo</option>
                    <option value="t2">Negativo</option>                   
                    </select> 
                </li> 

            <li><input type="text"> </li>    
         

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>



    <div class="item_selection">
        <ul >
            <li>Nitrios </li>    
            <li>
                <select class="select_units" >
                <option value="t1">Positivo</option>
                <option value="t2">Negativo</option>                   
                </select> 
            </li> 

        <li><input type="text"> </li>   

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>

    <div class="item_selection">
        <ul >
            <li>Urobilinogeno</li>    
            <li>
                <select class="select_units" >
                <option value="t1">Positivo</option>
                <option value="t2">Negativo</option>                   
                </select> 
            </li> 

        <li><input type="text"> </li>   

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>
    
    
    <div class="item_selection">
        <ul >
            <li>Examen microscopico</li>    
            <li>

            </li> 

        <li><input type="text"> </li>   

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>


    <div class="item_selection">
        <ul >
            <li>Bacterias</li>  
            <li><input type="text"> </li> 
            <li>
                
            </li> 

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>

    <div class="item_selection">
        <ul >
            <li>Epitelio</li>  
            <li><input type="text"> </li> 
            <li>
                
            </li> 

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>

    <div class="item_selection">
        <ul >
            <li>Leucocitos</li>    
            <li>
                <select class="select_units" >
                <option value="t1">Positivo</option>
                <option value="t2">Negativo</option>                   
                </select> 
            </li> 

        <li><input type="text"> </li>   

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>

    <div class="item_selection">
        <ul >
            <li>Eritrocitos</li>    
            <li>
                <select class="select_units" >
                <option value="t1">Positivo</option>
                <option value="t2">Negativo</option>                   
                </select> 
            </li> 

        <li><input type="text"> </li>   

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>

    <div class="item_selection">
        <ul >
            <li>Mucus</li>    
            <li>
                <select class="select_units" >
                <option value="t1">Positivo</option>
                <option value="t2">Negativo</option>                   
                </select> 
            </li> 

        <li><input type="text"> </li>   

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>

    <div class="item_selection">
        <ul >
            <li>Levaduras</li>    
            <li>
                <select class="select_units" >
                <option value="t1">Positivo</option>
                <option value="t2">Negativo</option>                   
                </select> 
            </li> 

        <li><input type="text"> </li>   

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>

    <div class="item_selection">
        <ul >
            <li>Cilindros</li>    
            <li>
                <select class="select_units" >
                <option value="t1">Positivo</option>
                <option value="t2">Negativo</option>                   
                </select> 
            </li> 

        <li><input type="text"> </li>   

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>

    <div class="item_selection">
        <ul >
            <li>Cristales</li>    
            <li>
                <select class="select_units" >
                <option value="t1">Positivo</option>
                <option value="t2">Negativo</option>                   
                </select> 
            </li> 

        <li><input type="text"> </li>   

            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>

    <div class="item_selection">
        <ul >
            <li>Observaciones</li>  
             <li><input type="text"> </li>   
            
            <li>
               
            </li> 
            <li><input type="number"> </li>    
            <li><input type="number"> </li>    
            <li><input type="checkbox" >  </li> 
            <li><input type="checkbox" > </li> 
            <li><textarea rows="4" cols="10"> </textarea></li> 

        </ul>
    </div>
    <script src="./../js/app.js"></script> 


</body>
</html>