<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrar</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    

</head>
<body>
    <div class="nav_bar">
        <ul class="nav_nav">
            <li><a href="/menu_sec"  >Home</a></li>    
            <li><a href="/reg_nw_sec" >Registrar</a></li>      
            <li><a href="#" >Entregar Reporte</a></li>    
            <li><a href="/" class="nav_exit">Salir</a></li>    
        </ul>
    </div>

    
    <div id="container-2">
        <form action="/" method="POST" id="register">
            <h1>Nuevo Registro</h1>
            <br>
            <!-- <img src="img/loginWB.png" title="User" alt="Icon User"><br/> -->
            
            <input type="text" name="name" placeholder="Nombre" id="p_name"><br/>
            <input type="text" name="lastname" placeholder="Apellidos" id="p_apellidos"><br/>
            <input type="number" name="identi" placeholder="CUI" id="p_cui"><br/>
            
            
            <select class="form-control" id="gender">
                <option value="male">Masculino</option>
                <option value="female">Femenino</option>    
                
                
            </select>
            <br/>
            
                    <input type="number" name="age" placeholder="Edad" id="p_age">
                    <input type="number" name="tel" placeholder="Telefono" id="p_tel"><br/>
                    <input type="text" name="address" placeholder="Departamento" id="p_departamento"><br/>
                    <button type="button" onclick='RegNuevo()'>Guardar</button>
                    <button type="reset">Limpiar</button>
                    
                    <p>Registro de Usuarios V 1.1</p>
                    
                </form>
            </section>
            <script src="js/app.js"></script> 
            
    </div>
</body>
</html>
